@font-face {
	font-family: bold;
	src: url(../../fonts/bold.TTF);
}
* {
	font-size: 100%;
	box-sizing: content-box;
}
body {
	background-color: rgb(205, 219, 224);
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
// !!!!!!! MOBILE MODE !!!!!!!!!!
.container {
	max-width: 20rem;
	max-height: max-content;
	padding: 1rem 1rem 1.5rem 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 1rem;
	box-shadow: 1rem 1rem 5rem rgb(201, 199, 199);
	flex-wrap: wrap;
	text-align: center;
	flex-grow: 0;
	gap: 1rem;
    border: 1px solid rgb(234, 232, 232);
}
.container--img {
	border-radius: 1rem;
	display: block;
	width: 20rem;
	height: 20rem;
	object-fit: contain;
}
.container--title {
	text-align: center;
	font-weight: bolder;
	color: #1a1a1a;
	font-size: 1.6rem;
	padding: 0.3rem;
	margin-top: 0.3rem;
	margin-bottom: 0;
    font-family: 'bold';
	font-weight: bolder;
}
.container--content {
	color: rgb(136, 136, 136);
	font-size: 1.2rem;
	margin-top: 0;
	margin-bottom: 2rem;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

// !! DESKTOP MODE
@media (min-width:1024px) {
.container{
    margin-top: 10%;
}
}